:root {
  --primary: #556B2F;
  --dark: white;
  --light: gray;
  --abu: gray
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--dark);
  color: var(--primary);
}
